* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-width: 90vw; /* Chiều rộng tối đa là 90% của chiều rộng màn hình */
    max-height: 90vh; /* Chiều cao tối đa là 90% của chiều cao màn hình */
    object-fit: contain; /* Giữ tỷ lệ của hình ảnh */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
